.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 40rem;
  margin: 4rem auto;
  justify-content: space-between;
  border: 1px solid #ddd;
  background-color: #fff;
}

.post-header {
  display: flex;
  align-items: center;
  margin-top: -1rem;
  padding: 1rem;
}

.post-header img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.post-image img {
  margin-top: -1rem;
  width: 100%;
}

.post-footer {
  margin: 1rem;
}

.post-footer h4 {
  margin: .5rem 0;
}

.post-footer img {
  width: 1.5rem;
  margin-right: 1rem;
}
